{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- Page Content -->
    <div class="page-heading about-heading header-text"
         style="background-image: url(//{{ host }}/static/assets/images/heading-1-1920x500.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h2>Nuestra Empresa</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="best-features about-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Acerca de Aries Automotores</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-image">
                        <img src={% static "assets/images/about-1-570x350.jpg.png" %} alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Nuestra Misión</h4>
                        <p>Somos una concesionaria especializada en automóviles y motos multimarca. Con nosotros tendrás
                            todo el asesoramiento para adquirir tu auto o tu moto, ya sea usado o 0km, brindándote los
                            mejores planes y financiaciones. Nuestro interés es la satisfacción completa del cliente,
                            por lo que orientamos y asesoramos de manera profesional y experta, con el fin de que puedan
                            tomar decisiones acertadas con respecto al vehículo que quieran adquirir. Siempre
                            priorizamos la eficacia, calidad, rapidez y rendimiento de la atención y del producto.
                            Nuestra amplia oferta de productos, la calidad de nuestro trabajo y la comunicación con
                            nuestros clientes son los elementos diferenciadores de nuestra organización y los que nos
                            garantizarán el éxito en nuestra misión.</p>
                        <ul class="social-icons">
                            <li><a href="https://es-la.facebook.com/AriesAutomotores/"><i
                                    class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/ariesautomoto"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://ar.linkedin.com/in/jorge-diaz-47145859"><i class="fa fa-linkedin"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="team-members">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Nuestros Servicios</h2>
                    </div>

                    <h5>Venta de Autos</h5>

                    <p>Venta de 0 km todas las marcas Nacionales e Importadas y usadas los disponibles en Stock.</p>
    <br>
                    <h5>Venta de Motos</h5>

                    <p>En las distintas marcas toda la línea de producción Gilera / Corven / Guerrero / Kymco / Bajaj / Gilera / Mondial / Keller / Zanella</p>
            <br>
                    <h5>Planes de Financiacion Personalizados</h5>


                </div>
            </div>
        </div>
    </div>

{% endblock %}