{% extends "base.html" %}
{% load static %}
{% block content %}
    {% include "modalcotiza.html" %}
    <!-- Page Content -->

    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <img src="http://{{ host }}/media/{{ vehiculo.fotoPortada }}" alt="" class="img-fluid wc-image">
                    </div>
                    <br>
                    {% comment %}
            <div class="row">
              <div class="col-sm-4 col-6">
                <div>
                  <img src={% static "assets/images/product-1-370x270.jpg"%} alt="" class="img-fluid">
                </div>
                <br>
              </div>
              <div class="col-sm-4 col-6">
                <div>
                  <img src={% static "assets/images/product-2-370x270.jpg"%} alt="" class="img-fluid">
                </div>
                <br>
              </div>
              <div class="col-sm-4 col-6">
                <div>
                  <img src={% static "assets/images/product-3-370x270.jpg"%} alt="" class="img-fluid">
                </div>
                <br>
              </div>

              <div class="col-sm-4 col-6">
                <div>
                  <img src={% static "assets/images/product-4-370x270.jpg"%} alt="" class="img-fluid">
                </div>
                <br>
              </div>
              <div class="col-sm-4 col-6">
                <div>
                  <img src={% static "assets/images/product-5-370x270.jpg"%} alt="" class="img-fluid">
                </div>
                <br>
              </div>
              <div class="col-sm-4 col-6">
                <div>
                  <img src={% static "assets/images/product-6-370x270.jpg" %} alt="" class="img-fluid">
                </div>
                <br>
              </div>
            </div>
              {% endcomment %}
                </div>

                <div class="col-md-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Nombre</span>

                                <strong class="pull-right">{{ vehiculo.nombre }}</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Modelo</span>

                                <strong class="pull-right">{{ vehiculo.modelo }}</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Version</span>

                                <strong class="pull-right">{{ vehiculo.version }}</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Año</span>

                                <strong class="pull-right">{{ vehiculo.año }}</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Estado</span>

                                <strong class="pull-right">{{ vehiculo.estado }}</strong>
                            </div>
                        </li>
                    </ul>
                    <br>
                    <div class="border-right" style="text-align: right">
                <a style="margin-top: 5px;color: white" data-toggle="modal" data-target="#exampleModal"
                   onclick="fullCotizar('{{ vehiculo.modelo }}','{{ vehiculo.version }}')"
                   class="filled-button align-right">Cotizar</a>
            </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-heading">
                        <h2>Descripcion</h2>
                    </div>

                    <div class="left-content">
                        <p>...</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="section-heading">
                        <h2>Extras</h2>
                    </div>

                    <div class="left-content">
                        <p>...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}