{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(http://{{ host }}/static/assets/images/heading-6-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h2>Vehiculos</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="container">
        <div class="row">
        {% comment %}
          <div class="col-md-3">
             <div class="contact-form">
                <form action="#">
                     <label>Usado/Nuevo:</label>

                     <select class="form-control">
                          <option value="">Todos</option>
                          <option value="new">Vehiculo Nuevo</option>
                          <option value="used">Vehiculo Usado</option>
                     </select>

                     <label>Tipo de Vehiculo:</label>

                     <select class="form-control">
                          <option value="">--All --</option>
                          <option value="">--All --</option>
                          <option value="">--All --</option>
                          <option value="">--All --</option>
                          <option value="">--All --</option>
                     </select>


                     <label>Precio:</label>

                     <select class="form-control">
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                     </select>

                     <label>Kilometros:</label>

                     <select class="form-control">
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                     </select>

                     <label>Motor:</label>

                     <select class="form-control">
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                     </select>


                     <label>Combustible:</label>

                     <select class="form-control">
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                     </select>


                     <label>Puertas:</label>

                     <select class="form-control">
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                     </select>

                     <label>Asientos:</label>

                     <select class="form-control">
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                          <option value="">-- All --</option>
                     </select>

                     <button type="submit" class="filled-button btn-block">Buscar</button>
                </form>
             </div>
          </div>
          {% endcomment %}

          <div class="col-md-12">
            <div class="row">
                 {% for vehiculo in vehiculos %}
          <div class="col-md-4">
            <div class="product-item">
              <a href="car-details.html"><img src="http://{{ host }}/media/{{vehiculo.fotoPortada}}" alt=""></a>
              <div class="down-content">
                <a href="/vehiculos/{{ vehiculo.modelo }}"><h4>{{ vehiculo.nombre }}</h4></a>

                <p style="margin-top: 5px">{{ vehiculo.modelo }} &nbsp;/&nbsp; {{ vehiculo.año }} &nbsp;/&nbsp; {{ vehiculo.estado }}</p>

                  <a style="margin-top: 5px;color: white" data-toggle="modal" data-target="#exampleModal" onclick="fullCotizar('{{ vehiculo.modelo }}','{{ vehiculo.version }}')" class="filled-button align-right">Cotizar</a>
              </div>
            </div>
          </div>
            {% endfor %}


{% comment %}
              <div class="col-md-12">
                <ul class="pages">
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endcomment %}


{% include "modalcotiza.html" %}

{% endblock %}