{% extends "base.html" %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Page Content -->
    <div class="page-heading contact-heading header-text"
         style="background-image: url(//{{ host }}/static/assets/images/heading-4-1920x500.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">

                        <h2>Contacto</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="find-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Nuestra Localización</h2>
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- How to change your own map point
                        1. Go to Google Maps
                        2. Click on your location point
                        3. Click "Share" and choose "Embed map" tab
                        4. Copy only URL and paste it within the src="" field below
                    -->
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d16571.784112354657!2d-67.49287061540292!3d-29.170905250661686!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf09b8041f67bea5d!2sAries%20Automotores!5e0!3m2!1ses-419!2sar!4v1605829752984!5m2!1ses-419!2sar"
                                width="100%" height="330px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="left-content">
                        <h4>Nuestra oficina</h4>
                        <p>Visítenos en Santa Rosa 176 (CP 5360) Chilecito, Provincia de La Rioja o llámenos a los telefonos 03825-422183/422188.</p>
                        <ul class="social-icons">
                            <li><a href="https://es-la.facebook.com/AriesAutomotores/"><i
                                    class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/ariesautomoto"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://ar.linkedin.com/in/jorge-diaz-47145859"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="send-message">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Envianos un Mensaje</h2>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="contact-form">

                        <form id="contact">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name"
                                               placeholder="Nombre Completo" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="email" type="text" class="form-control" id="email"
                                               placeholder="Correo Electronico" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="subject" type="text" class="form-control" id="subject"
                                               placeholder="Asunto" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message"
                                                  placeholder="Tu Mensaje" required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" class="filled-button">Enviar</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>

                        <script>
                        $(document).ready(function () {
                            $('#contact').submit(function () { // catch the form's submit event
                                $.ajax({ // create an AJAX call...
                                    data: $(this).serialize(), // get the form data
                                    type: ('post'), // GET or POST
                                    url: ("//{{ host }}/sendmail/"), // the file to call
                                    success: function (response) {
                                        alert("Correo Enviado con Exito");
                                        $('#name').val("");
                                        $('#email').val("");
                                        $('#subject').val("");
                                        $('#message').val("");
                                    },
                                    error: function (e, x, r) { // on error..
                                        alert("Error");
                                    }
                                });
                                return false;
                            });
                        });
                        </script>

                    </div>
                </div>
                <div class="col-md-4">



                </div>
            </div>
        </div>
    </div>

{% endblock %}
