{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "modalcotiza.html" %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4 style="text-shadow: 1px 1px 2px black; ">Venta de 0km</h4>
            <h2 style="text-shadow: 1px 1px 2px black; ">Todas las marcas Nacionales e Importadas</h2>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4 style="text-shadow: 1px 1px 2px black; ">Financiación</h4>
            <h2 style="text-shadow: 1px 1px 2px black; ">Bancarias y a sola firma, planes especiales</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4></h4>
            <h2 style="text-shadow: 1px 1px 2px black; ">NO PREGUNTE SI TENEMOS, PIDA, MIENTRAS TENGA MOTOR O HELICE PIDA</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Vehiculos Destacados</h2>
              <a href="//{{ host }}/vehiculos">VER MAS <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
            {% for destacado in destacados %}
          <div class="col-lg-4 col-md-6">
            <div class="product-item">
              <a href="car-details.html"><img src="http://{{ host }}/media/{{destacado.fotoPortada}}" alt=""></a>
              <div class="down-content">
                <a href="/vehiculos/{{ destacado.modelo }}"><h4>{{ destacado.nombre }}</h4></a>

                <p style="margin-top: 5px">{{ destacado.modelo }} &nbsp;/&nbsp; {{ destacado.año }} &nbsp;/&nbsp; {{ destacado.estado }}</p>

                  <a style="margin-top: 5px;color: white" data-toggle="modal" data-target="#exampleModal" onclick="fullCotizar('{{ destacado.modelo }}','{{ destacado.version }}')" class="filled-button align-right">Cotizar</a>
              </div>
            </div>
          </div>
            {% endfor %}
{% comment %}
          <div class="col-lg-4 col-md-6">
            <div class="product-item">
              <a href="car-details.html"><img src={% static "assets/images/product-2-370x270.jpg" %} alt=""></a>
              <div class="down-content">
                <a href="car-details.html"><h4>Lorem ipsum dolor sit amet, consectetur</h4></a>

                <h6><small><del> $11199.00</del></small> $11179.00</h6>

                <p>190 hp &nbsp;/&nbsp; Petrol &nbsp;/&nbsp; 2008 &nbsp;/&nbsp; Used vehicle</p>

                <small>
                  <strong title="Author"><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                  <strong title="Author"><i class="fa fa-cube"></i> 1800cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                  <strong title="Views"><i class="fa fa-cog"></i> Manual</strong>
                </small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="product-item">
              <a href="car-details.html"><img src={% static "assets/images/product-3-370x270.jpg" %} alt=""></a>
              <div class="down-content">
                <a href="car-details.html"><h4>Lorem ipsum dolor sit amet, consectetur</h4></a>

                <h6><small><del> $11199.00</del></small> $11179.00</h6>

                <p>190 hp &nbsp;/&nbsp; Petrol &nbsp;/&nbsp; 2008 &nbsp;/&nbsp; Used vehicle</p>

                <small>
                  <strong title="Author"><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                  <strong title="Author"><i class="fa fa-cube"></i> 1800cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                  <strong title="Views"><i class="fa fa-cog"></i> Manual</strong>
                </small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="product-item">
              <a href="car-details.html"><img src={% static "assets/images/product-4-370x270.jpg" %} alt=""></a>
              <div class="down-content">
                <a href="car-details.html"><h4>Lorem ipsum dolor sit amet, consectetur</h4></a>

                <h6><small><del> $11199.00</del></small> $11179.00</h6>

                <p>190 hp &nbsp;/&nbsp; Petrol &nbsp;/&nbsp; 2008 &nbsp;/&nbsp; Used vehicle</p>

                <small>
                  <strong title="Author"><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                  <strong title="Author"><i class="fa fa-cube"></i> 1800cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                  <strong title="Views"><i class="fa fa-cog"></i> Manual</strong>
                </small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="product-item">
              <a href="car-details.html"><img src={% static "assets/images/product-5-370x270.jpg" %} alt=""></a>
              <div class="down-content">
                <a href="car-details.html"><h4>Lorem ipsum dolor sit amet, consectetur</h4></a>

                <h6><small><del> $11199.00</del></small> $11179.00</h6>

                <p>190 hp &nbsp;/&nbsp; Petrol &nbsp;/&nbsp; 2008 &nbsp;/&nbsp; Used vehicle</p>

                <small>
                  <strong title="Author"><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                  <strong title="Author"><i class="fa fa-cube"></i> 1800cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                  <strong title="Views"><i class="fa fa-cog"></i> Manual</strong>
                </small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="product-item">
              <a href="car-details.html"><img src={% static "assets/images/product-6-370x270.jpg" %} alt=""></a>
              <div class="down-content">
                <a href="car-details.html"><h4>Lorem ipsum dolor sit amet, consectetur</h4></a>

                <h6><small><del> $11199.00</del></small> $11179.00</h6>

                <p>190 hp &nbsp;/&nbsp; Petrol &nbsp;/&nbsp; 2008 &nbsp;/&nbsp; Used vehicle</p>

                <small>
                  <strong title="Author"><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                  <strong title="Author"><i class="fa fa-cube"></i> 1800cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                  <strong title="Views"><i class="fa fa-cog"></i> Manual</strong>
                </small>
              </div>
            </div>
          </div>
{% endcomment %}
        </div>
      </div>
    </div>

    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Nuestra Empresa</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <p>Somos una concesionaria especializada en automóviles y motos multimarca. Con nosotros tendrás todo el asesoramiento para adquirir tu auto o tu moto, ya sea usado o 0km, brindándote los mejores planes y financiaciones. Nuestro interés es la satisfacción completa del cliente, por lo que orientamos y asesoramos de manera profesional y experta, con el fin de que puedan tomar decisiones acertadas con respecto al vehículo que quieran adquirir. Siempre priorizamos la eficacia, calidad, rapidez y rendimiento de la atención y del producto. Nuestra amplia oferta de productos, la calidad de nuestro trabajo y la comunicación con nuestros clientes son los elementos diferenciadores de nuestra organización y los que nos garantizarán el éxito en nuestra misión.</p>
              {% comment %}
                <ul class="featured-list">
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Consectetur an adipisicing elit</a></li>
                <li><a href="#">It aquecorporis nulla aspernatur</a></li>
                <li><a href="#">Corporis, omnis doloremque</a></li>
              </ul>{% endcomment %}
              <a href="//{{ host }}/nuestra_empresa" class="filled-button">Ver mas</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src={% static "assets/images/about-1-570x350.jpg.png" %} alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
{% comment %}
    <div class="services" style="background-image: url(assets/images/other-image-fullscren-1-1920x900.jpg);" >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Latest blog posts</h2>

              <a href="blog.html">read more <i class="fa fa-angle-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <a href="#" class="services-item-image"><img src={% static "assets/images/blog-1-370x270.jpg" %} class="img-fluid" alt=""></a>

              <div class="down-content">
                <h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</a></h4>

                <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <a href="#" class="services-item-image"><img src={% static "assets/images/blog-2-370x270.jpg" %} class="img-fluid" alt=""></a>

              <div class="down-content">
                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h4>

                <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <a href="#" class="services-item-image"><img src={% static "assets/images/blog-3-370x270.jpg" %} class="img-fluid" alt=""></a>

              <div class="down-content">
                <h4><a href="#">Aperiam modi voluptatum fuga officiis cumque</a></h4>

                <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endcomment %}
    <div class="happy-clients">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Planes de Financiación</h2>

            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-clients owl-carousel text-center">


              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-bank"></i>
                </div>
                <div class="down-content">
                  <h4>Bancaria</h4>
                  <p class="n-m"><em>Credito concedido por tu sistema bancario de preferencia</em></p>
                </div>
              </div>

                <div class="service-item">
                <div class="icon">
                  <i class="fa fa-pencil"></i>
                </div>
                <div class="down-content">
                  <h4>A Sola Firma</h4>
                  <p class="n-m"><em>Garantiza que solo tu firma basta para asegurar la devolución de dinero solicitado y no es necesario presentar un aval u otras garantías.</em></p>
                </div>
              </div>

               <div class="service-item">
                <div class="icon">
                  <i class="fa fa-star"></i>
                </div>
                <div class="down-content">
                  <h4>Planes Especiales de Aries Automotores</h4>
                  <p class="n-m"><em>Otorgados unicamente en esta empresa, consultar.</em></p>
                </div>
              </div>

              


            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Contacto</h4>
                  <p>Si usted todavía no se decidió, y las propuestas que tiene son variadas, no lo
piense mas, los invitamos a que nos contacte y le mejoramos cualquier alternativa.</p>
                </div>
                <div class="col-lg-4 col-md-6 text-right">
                  <a href="//{{ host }}/contacto" class="filled-button">Contactenos</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}